[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/niktesic
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/niktesic
	label-Verified = -1..+1 group user/niktesic
	push = group user/niktesic
	read = group user/niktesic
	rebase = group user/niktesic
	removeReviewer = group user/niktesic
	submit = group user/niktesic
[access "refs/heads/*"]
	create = group user/niktesic
	push = +force group user/niktesic
	pushMerge = group user/niktesic
	read = group user/niktesic
[access "refs/tags/*"]
	push = group user/niktesic
	push = +force group user/niktesic
